* {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  background-image: url(https://i.imgur.com/c9vvtZN.jpg);
  background-size: cover;
  color: beige;
  border-radius: 40px;
}
a {
  color: beige;
  padding: 0px;
  display: inline-block;
  transform: scale(1);
}

h1 {
  font-size: 65px;
}
h2 {
  margin: 5px 0px 1px 0px;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 7px solid white;
  border-radius: 20px;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

a:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.link {
  display: inline;
  padding: 0px 20px 0px 20px;
}
.about {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  box-shadow: 10px 10px #04710b;
}
article {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  font-size: large;
}

.mail {
  font-size: large;
  
}
.mail-content{
  margin-bottom: 5px;
  cursor: pointer;
}

 .links {
  display:inline-flex;
  width: 250px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.project {
  height: 200px;
  width: 250px;
  position: relative;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.stuff {
  height: 200px;
  width:750px;
  display:inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
 justify-content: space-evenly;
 scroll-behavior: smooth;
}

#things {
  border: 1px solid;
  box-shadow: 10px 10px #04710b;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  img {
    margin: auto;
  }

  .stuff {
    height: auto;
    width: 100%;
  }
  .about {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid;
    box-shadow: 10px 10px #04710b;
  }

  .project {
    width: 33%;
    position: center;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: relative;
    cursor: pointer;
  }
  article {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
}