html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  background-image: url(https://i.imgur.com/c9vvtZN.jpg);
  background-size: cover;
  color: beige;
  border-radius: 40px;
}
a {
  color: beige;
  padding: 0px;
  display: inline-block;
  transform: scale(1);
}

h1 {
  font-size: 65px;
}
h2 {
  margin: 5px 0px 1px 0px;
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

a:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.link {
  display: inline;
  padding: 0px 20px 0px 20px;
}
.about {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
article {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  font-size: large;
  
}

.mail {
  font-size: large;
  
}
.mail-content{
  margin-bottom: 5px;
  cursor: pointer;
}

 .links {
  display:inline-flex;
  width: 250px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.project {
  height: 200px;
  width: 250px;
  position: relative;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.project2 {
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 8px;
  height: 200px;
  width: 250px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.project3 {
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  width: 250px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.stuff {
  height: 200px;
  width:750px;
  display:inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
 justify-content: space-evenly;
 scroll-behavior: smooth;
 
}